@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #f7fafc;
}

@layer utilities {
    @variants md {
        .pt-md-padding {
            padding-top: min(max(calc(100vh - 650px), 50px), 300px);
        }
    }
}

@keyframes skewAnimation {
    0% {
        transform: skewX(0deg);
    }
    50% {
        transform: skewX(10deg);
    }
    100% {
        transform: skewX(0deg);
    }
}

.skew {
    animation: skewAnimation 3s infinite;
}

